/*
NOTE: this css file adds some basic styles for images and their
previews, and link-previews. it gets included before the theme
css, so it can be overwritten very easily. if you want to remove
it completely, you can do so in your themes functions.php via:
remove_stylesheet('css/sekretaer.css');
*/


ul.tag-selector {
	list-style-type: none;
	padding: 0;
	margin-top: -0.5em;
}

	ul.tag-selector li {
		display: inline-block;
		margin-right: 0.5em;
		background: #666;
		color: #fff;
		padding: 5px 10px;
		cursor: pointer;
		border-radius: 3px;
		font-size: 0.8em;
	}

		ul.tag-selector li:hover {
			background: #333;
		}
