:root {

	--font-default-family: 'Nunito', sans-serif;
	--font-default-weight: 400; /* also italic */
	--font-default-weight-medium: 600;
	--font-default-weight-bold: 800;
	--font-headline-family: 'Patua One', serif;
	--font-headline-weight: 400;

	--color-global-background: #f9ffff;

	--color-black: #000;
	--color-white: #fff;

	--color-box-border: #d1e7ff;
	--color-box-background: rgb(244,251,255);
	--gradient-box-background: linear-gradient(127deg, rgba(244,251,255,1) 6%, rgba(230,242,249,1) 80%);

	--color-text: #0c1e48;

	--color-link: #0000a6;
	--color-link-hover: #0b48ff;

	--sidebar-width: 300px;

}

	body.theme-color-scheme-blue {
		/* defaults to :root variables */
	}

	body.theme-color-scheme-green {

		--color-global-background: #f9fff9;

		--color-box-border: #8ed393;
		--color-box-background: rgb(244,255,246);
		--gradient-box-background: linear-gradient(127deg, rgba(244,255,246,1) 6%, rgba(242,249,230,1) 80%);

		--color-text: #32480c;

		--color-link: #0e8f1b;
		--color-link-hover: #51b70b;
		
	}

	body.theme-color-scheme-red {

		--color-global-background: #fff9f9;

		--color-box-border: #d3938e;
		--color-box-background: rgb(255,246,244);
		--gradient-box-background: linear-gradient(127deg, rgba(255,246,244,1) 6%, rgba(249,230,242,1) 80%);

		--color-text: #480c0c;

		--color-link: #8f0e0e;
		--color-link-hover: #e60c0c;
		
	}

	body.theme-color-scheme-lilac {

		--color-global-background: #fdf9ff;

		--color-box-border: #c18ed3;
		--color-box-background: rgb(251,244,255);
		--gradient-box-background: linear-gradient(127deg, rgba(251,244,255,1) 6%, rgba(251,230,255,1) 80%);

		--color-text: #320c48;

		--color-link: #850e8f;
		--color-link-hover: #a06fd0;
		
	}

body {
	margin: 0;
	padding: 0;
	background: var(--color-global-background);
	color: var(--color-text);
	font-family: var(--font-default-family);
	font-weight: var(--font-default-weight);
	font-size: 16px;
	line-height: 1.4;
}

	@media( max-width: 640px ) {

		:root {
			--sidebar-width: 260px;
		}

		body {
			font-size: 14px;
		}

	}

a {
	color: var(--color-link);

	-webkit-transition: color 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out;
	transition: color 300ms ease-in-out;
}

	a:hover {
		color: var(--color-link-hover);

		-webkit-transition: color 100ms ease-in-out;
		-o-transition: color 100ms ease-in-out;
		transition: color 100ms ease-in-out;
	}

form {

}

	form label {
		display: block;
	}

input,
textarea,
select,
button,
.button {
	font: inherit;
	display: inline-block;
	padding: 5px 10px;
	box-sizing: border-box;
	border: 1px solid var(--color-box-border);
	background: var(--color-white);
	border-radius: 4px;
	text-decoration: none;
}

	button,
	.button {
		cursor: pointer;
		background: var(--color-box-background);
		background: var(--gradient-box-background);
		border: 1px solid var(--color-box-border);
		box-sizing: border-box;
		color: var(--color-text);
		text-decoration: none;
		box-shadow: 2px 1px 20px rgba(255,255,255,0);
		font-weight: var(--font-default-weight-medium);

		-webkit-transition: box-shadow 300ms ease-in-out;
		-o-transition: box-shadow 300ms ease-in-out;
		transition: box-shadow 300ms ease-in-out;
	}

		button:not([disabled]):hover,
		.button:not(.disabled):hover {
			background: var(--color-box-background);
			box-shadow: 2px 1px 5px var(--color-box-border);
			color: var(--color-text);

			-webkit-transition: box-shadow 100ms ease-in-out;
			-o-transition: box-shadow 100ms ease-in-out;
			transition: box-shadow 100ms ease-in-out;
		}

	input[disabled],
	textarea[disabled],
	select[disabled],
	input[readonly],
	textarea[readonly],
	select[readonly],
	button[disabled],
	.button.disabled {
		opacity: 0.5;
		cursor: not-allowed;
		color: var(--color-text) !important;
	}

	.button-small {
		font-size: 0.8em;
		border-radius: 3px;
		padding: 3px 6px;
	}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

	sup {
		top: -0.5em;
	}

	sub {
		bottom: -0.25em;
	}

.canvas {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	position: relative;
}

	.nav-area {
		width: var(--sidebar-width);
		min-height: 100vh;
		box-shadow: 0 0 20px rgba(0,0,0,.1);
		position: relative;
		background: var(--color-white);
	}

	.content-area {
		width: calc(100% - var(--sidebar-width));
		padding: 20px 40px;
		box-sizing: border-box;
		min-height: 100vh;
	}

		.content-area > main > h2:first-child {
			margin-top: 17px;
		}

	.menu-icon {
		display: none;
	}

	@media ( max-width: 800px ) {

		.nav-area {
			position: fixed;
			top: 0;
			z-index: 1000;
			left: calc( -1*var(--sidebar-width) + 10px );

			-webkit-transition: left 200ms ease-in-out;
			-o-transition: left 200ms ease-in-out;
			transition: left 200ms ease-in-out;
		}

			.nav-area:hover,
			body.menu-open .nav-area {
				left: 0;
			}

		.content-area {
			width: 100%;
			padding: 20px;
		}

		.menu-icon {
			display: block;
			width: 40px;
			height: 40px;
			position: fixed;
			right: 5px;
			top: 5px;
			z-index: 980;
			cursor: pointer;
		}

			body.menu-open .menu-icon:before {
				content: "";
				position: fixed;
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
				cursor: default;
			}

			.menu-icon .icon {
				top: 50%;
				left: 5px;
				pointer-events: none;
			}

				.menu-icon .icon,
				.menu-icon .icon:before,
				.menu-icon .icon:after {
					background: var(--color-black);
					width: 30px;
					height: 3px;
					margin-top: -2px;
					position: absolute;

					-webkit-transition: all 200ms ease-in-out;
					-moz-transition: all 200ms ease-in-out;
					-o-transition: all 200ms ease-in-out;
					-ms-transition: all 200ms ease-in-out;
					transition: all 200ms ease-in-out;
				}

				.menu-icon .icon:before,
				.menu-icon .icon:after {
					content: "";
					display: block;
				}

				.menu-icon .icon:before {
					margin-top: -8px;
				}

					.menu-icon:hover .icon:before {
						margin-top: -6px;
					}

				.menu-icon .icon:after {
					margin-top: 8px;
				}

					.menu-icon:hover .icon:after {
						margin-top: 6px;
					}

				body.menu-open .menu-icon .icon {
					background: none !important;
				}

					body.menu-open .menu-icon .icon:before {
						-moz-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						margin-top: 0;
					}

					body.menu-open .menu-icon .icon:after {
						-moz-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
						margin-top: 0;
					}

	}

header {
	padding: 20px;
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	width: var(--sidebar-width);
	position: sticky;
	top: 0;
}

	header h1 {
		margin: 0 0 10px;
		text-align: center;
	}

	header nav ul {
		list-style-type: none;
		display: block;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	
		header nav ul li {
			display: inline;
		}

		header nav ul li + li {
			margin-left: 0.7em;
		}

		header nav li a {
			display: inline-block;
		}

		header nav li.current-nav-item a {
			color: var(--color-text);
			text-decoration: none;
		}

	header .spacer {
		flex-grow: 1;
		min-height: 20px;
	}

	header footer {
		border-top: 1px solid var(--color-box-border);
		padding-top: 0.5em;
		font-size: 12px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

		header footer ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		header footer .generator {
			opacity: 0.5;
		}

main {
	max-width: 800px;
	margin: 0;
	box-sizing: border-box;
}

hr {
	margin: 1.5em 0;
	width: 100%;
	border: 0;
	border-top: 1px solid var(--color-box-border);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-headline-family);
	font-weight: var(--font-headline-weight);
}

	h1 {
		font-size: 3em;
	}

		h1 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.4em;
	}

	h5, h6 {
		font-size: 1.3em;
	}

	@media( max-width: 640px ) {

		h1 {
			font-size: 2.7em;
		}

		h2 {
			font-size: 1.8em;
		}

		h3 {
			font-size: 1.5em;
		}

		h4 {
			font-size: 1.2em;
		}

		h5, h6 {
			font-size: 1.1em;
		}

	}

.channel-meta {
	margin-bottom: 1em;
}

.manage-link {
	text-align: right;
	font-size: 0.8em;
	margin: -1.5em 0 0.5em;
}

main.login {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

	main.login h2 {
		text-align: center;
	}

	main.login label {
		margin-bottom: 10px;
	}

	main.login + footer {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	main.login .spacer {
		display: inline-block;
		width: 50px;
	}

	main.login .login-content {
		min-width: 400px;
	}

	main.login .alpha-warning {
		opacity: 0.5;
		display: inline-block;
		margin-top: 1em;
	}

	@media ( max-width: 640px ) {

		main.login .spacer {
			width: 40px;
		}

	}

	@media ( max-width: 440px ) {

		main.login .login-content {
			min-width: unset;
			padding-left: 20px;
			padding-right: 20px;
		}

		main.login .spacer {
			width: 100%;
			display: block;
		}

	}

ul.posts {
	max-width: 600px;
	list-style-type: none;
	padding: 0;
}

	ul.posts > li + li {
		margin-top: 4em;
	}

	ul.posts img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 1em 0;
	}

	ul.posts .item-content {
		display: block;
		overflow: hidden;
	}

		ul.posts .item-content .item-feed-title + .item-title {
			margin-top: 5px;
		}

		ul.posts .item-content.shortened {
			max-height: 1000px;
		}

		ul.posts .expand-button {
			margin-top: 1em;
		}

ul.pagination {
	list-style-type: none;
	margin: 40px auto 0;
	text-align: center;
	padding: 0;
}

	ul.pagination li {
		display: inline;
	}

		ul.pagination li + li {
			margin-left: 20px;
		}
		
ul.channels-list,
ul.feeds-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.3;
}

	ul.feeds-list {
		overflow: auto;
	}

	ul.channels-list li,
	ul.feeds-list li {
		display: block;
	}

		ul.channels-list li + li,
		ul.feeds-list li + li {
			margin-top: 0.8em;
		}

		ul.channels-list li.active a {
			color: inherit;
			text-decoration: none;
		}

	ul.feeds-list li {
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}

		ul.feeds-list li img {
			width: 20px;
			height: 20px;
			object-fit: cover;
			display: inline-block;
			margin-right: 0.2em;
			vertical-align: middle;
		}

#micropub-form {

}

	#micropub-form ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

		#micropub-form > ul > li {
			display: block;
			width: 100%;
			margin-top: 1em;
		}

		#micropub-form .title-wrapper,
		#micropub-form .slug-wrapper {
			width: calc(50% - 10px);
			margin-top: 0;
		}

		#micropub-form .image-wrapper {
			margin-bottom: 2em;
		}

			#micropub-form .image-wrapper .image-preview {
				display: block;
			}

				#micropub-form .image-wrapper .image-preview img {
					display: block;
					max-width: 200px;
					max-height: 200px;
					width: auto;
					height: auto;
					margin: 5px 0 10px;
				}

		#micropub-form .status-wrapper {
			width: 120px;
		}

		#micropub-form .button-wrapper {
			width: calc(100% - 120px);
		}

	@media ( max-width: 640px ) {

		#micropub-form .title-wrapper,
		#micropub-form .slug-wrapper {
			width: 100%;
		}
		
			#micropub-form .slug-wrapper {
				margin-top: 1em;
			}

		#micropub-form .status-wrapper,
		#micropub-form .button-wrapper {
			width: 100%;
		}
		
			#micropub-form .button-wrapper strong,
			#micropub-form .button-wrapper br {
				display: none;
			}

	}

.add-feed-select-form {

}

	.add-feed-select-form ul {
		list-style-type: none;
		padding: 0;
	}

		.add-feed-select-form ul li {
			display: block;
			position: relative;
			padding-left: 25px;
		}
		
			.add-feed-select-form ul li input {
				position: absolute;
				left: 0;
				margin-top: 4px;
			}

			.add-feed-select-form ul li + li {
				margin-top: 10px;
			}

		.add-feed-select-form ul li img {
			width: 20px;
			height: 20px;
			object-fit: cover;
			display: inline-block;
			margin-right: 0.2em;
			vertical-align: middle;
		}
